{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <h1>Home Page?!</h1>
  {% if user.is_authenticated %}
    Hi {{ user.username }}
    <p> <a href="{% url 'logout' %}">Logout</a> </p>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}"> Login</a> | 
    <a href="{% url 'Signup' %}"> Signup</a>
  {% endif %}
{% endblock %}
