{% extends "base.html" %}

{% block title %} LOGIN {% endblock %}

{% block content %}
<form method="post">
  <h2>Login</h2>
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
{% endblock %}
