<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %} Custom User {% endblock %}
    </title>
  </head>
  <div class="container">
    <body>
      <main>
          {% block content %}

          {% endblock %}
      </main>
    </body>
  </div>
</html>
